<div class="container">
	<div class="row">
		<div class="col-xs-2">

			<p class="flash_message"><%= flash[:notice] %></p>
			<!-- ジャンル検索 -->

    		<div class="genre_search">
    			<span class="genre_seach_head">ジャンル検索</span>
    			<div>
		    		<% @genres.each do |genre| %>
		    			<ul>
		    				<li class="genre_list">
		    					<%= link_to genre.name, products_path(genre: genre.id), :style => "color: #728EE3;" %>
		    				</li>
		    			</ul>
		    		<% end %>
		    	</div>
		    </div>
		</div>

		<div class="col-xs-10">

			<!-- トップ画像 -->

			<div class="main_visual">
				<div class="main_visual_topic">
					<div class="main_visual_text">
						ようこそ、<span class="main_n">NaganoCake</span>へ！<br>
		    			このサイトは、<br>
		    			ケーキ販売のECサイトになります。</br>
		    			会員でない方も<br>
		    			商品の閲覧はできますが、</br>
		    			購入には<br>
		    			会員登録が必要になります。<br>
		    			<i class="fab fa-instagram"></i>
		    			<i class="fab fa-twitter"></i>
		    			<i class="fab fa-facebook-f"></i>
		    			<i class="fab fa-youtube"></i>
		    		</div>
	    		</div>
    		</div>

    		<!-- オススメ商品リスト -->

    		<h3 class="recommendation">オススメ商品</h3>
    		<div class="recommended_products">
	    		<% @products.each do |product| %>
	    		    <% if product.genre.effective_status ==  true %>
	    			    <div class="product_box">
		    			    <%= link_to product_path(product.id) do %> <!-- 画面クリックで商品詳細へ -->
		    				    <%= attachment_image_tag product, :image, size: "180x130", fallback: "no_image.jpeg" %>
		    			    <% end %>
		    			    <p class="product_box_name_price"><%= product.name %><br>
		    			    ¥ <%= (product.price * 1.1).floor %></p>
		    		    </div>
		    		<% end %>
	    		<% end %>
	    	</div>
    		<%= link_to "もっと見る>", products_path, class: "top_more" %>
    	</div>
    </div>
</div>