<div claas="container">
	<div class="row">
		<div class="col-xs-3">

			<p><%= flash[:notice] %></p>
			<!-- ジャンル検索 -->

    		<div class="genre_search">
    			ジャンル検索
    		</div>
    		<% @genres.each do |genre| %>
    			<ul>
    				<li class="genre_list">
    					<%= link_to genre.name, products_path(genre) %> <!-- そのジャンルの商品へ飛ぶ。path確認。 -->
    				</li>
    			</ul>
    		<% end %>
		</div>
		<div class="col-xs-9">

			<!-- トップ画像 -->

			<div class="main_visual">
				<div class="main_visual_topic">
					ようこそ、NaganoCakeへ！
				</div>
	    		<div class="main_visual_text">
	    			このサイトは、ケーキ販売のECサイトになります。</br>
	    			会員でない方も商品の閲覧はできますが、</br>
	    			購入には会員登録が必要になります。
	    		</div>
    		</div>

    		<!-- オススメ商品リスト -->

    		<h3 class="recommendation">オススメ商品</h3>
    		<div class="recommended_products">
	    		<% @products.each do |product| %>
	    			<%= link_to product_path(product.id) do %> <!-- 画面クリックで商品詳細へ -->
	    				<%= attachment_image_tag product, :image, size: "150x120", fallback: "no-image.jpeg" %>
	    			<% end %>
	    			<p><%= product.name %></p>
	    			<p>¥<%= (product.price * 1.1).floor %></p>
	    		<% end %>
	    	</div>
    		<%= link_to "もっと見る>", products_path %>
		</div>
	</div>
</div>