<div class="container">

    <span class="page_header owner_product_index_header">注文履歴一覧</span>
    <table class="table table-default">
        <tr class="table_header">
            <td>購入日時</td>
            <td>購入者</td>
            <td>注文個数</td>
            <td>注文ステータス</td>
        </tr>
        <% @orders.each do |order| %>
            <tr class="table_data">
                <td>
                    <%= link_to owner_order_path(order) do %>
                        <%= order.created_at. strftime('%Y/%m/%d/%R') %>
                    <% end %>
                </td>
                <td><%= orders.member.first_name %><%= order.member.last_name %></td>
                <td><%= ordered_products.count %></td>
                <td><%= @order.status %></td>
            </tr>
        <% end %>
    </table>
</div>