<div class="container">
    <h2>新規会員登録</h2>

    <div class="form-horizontal" role="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

    <%# 名前(姓、名)の入力フォーム %>
    <div class="form-group">

        <span><b>名前</b></span>
        (姓)

        <%= f.text_field :last_name, placeholder: "(例)佐藤" %>

        (名)

        <%= f.text_field :first_name, placeholder: "(例)太郎" %>
    </div>

    <%# フリガナ(セイ、メイ)の入力フォーム %>
    <div class="form-group">

        <span><b>フリガナ</b></span>

        (セイ)

        <%= f.text_field :last_name_kana, placeholder: "(例)サトウ" %>

        (メイ)

        <%= f.text_field :first_name_kana, placeholder: "(例)タロウ" %>

    </div>


    <%# メールアドレスの入力フォーム %>
    <div class="form-group">

        <%= f.label :email, "メールアドレス" %>

        <%= f.email_field :email, placeholder: "(例)sato-taro@example.com" %>

    </div>


    <%# 郵便番号の入力フォーム %>
    <div class="form-group">

        <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>

        <%= f.text_field :postal_code, placeholder: "(例)1234567" %>

    </div>

    <%# 住所の入力フォーム %>
    <div class="form-group">
        <%= f.label :address, "住所" %>

        <%= f.text_field :prefecture_code, placeholder: "(例)長野県", style: "width: 50%;" %>
        <%= f.text_field :city, placeholder: "(例)〇〇市", style: "width: 50%;" %>
        <%= f.text_field :street, placeholder: "(例)〇〇町〇-〇-〇", style: "width: 50%;" %>
    </div>


    <%# 電話番号の入力フォーム %>
    <div class="form-group">

        <%= f.label :phone_number, "電話番号(ハイフンなし)" %>

        <%= f.text_field :phone_number, placeholder: "(例)09012345678" %>

    </div>


    <%# パスワードの入力フォーム %>
    <div class="form-group">

        <%= f.label :password, "パスワード(6文字以上)" %>

        <%= f.password_field :password, placeholder: "パスワード" %>

    </div>

    <%# パスワード(確認用)の入力フォーム %>
    <div class="form-group">

        <%= f.label :password_confirmation, "パスワード(確認用)" %>

        <%= f.password_field :password_confirmation, placeholder: "パスワード確認用" %>
    </div>
    <br>

    <%# 「新規登録」ボタン %>
        <%= f.submit "Sign up", value: "新規登録", class: "btn btn-success btn-block" %>

    <% end %>
</div>


<%# deviseの仕様で、以下のレンダーでログインページへのリンクを表示している %>
<%= render "members/shared/links" %>
</div>