<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<span class="page_header">注文情報確認</span>
		    <% @total_price = @order.postage + current_member.cart_total_price %>
			<table class="order_confirm_table" border=1 width="700">
				<thead>
					<tr>
						<th class="order_confirm_th">商品名</th>
						<th class="order_confirm_th">単価(税込)</th>
						<th class="order_confirm_th">数量</th>
						<th class="order_confirm_th">小計</th>
					</tr>
				</thead>
				<tbody>
					<% @products.each do |ordered_product| %>
						<tr>
							<td class="order_confirm_td"><%= attachment_image_tag ordered_product.product, :image, size: "70x50", fallback: "no_image.jpg" %><%= ordered_product.product.name %>
							</td>
							<td class="order_confirm_td"><%= ((ordered_product.product.price * 1.1).floor) %></td>
							<td class="order_confirm_td"><%= ordered_product.count %></td>
							<td class="order_confirm_td"><%= ((ordered_product.product.price * 1.1).floor) * (ordered_product.count) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= form_with(model: @order, local: true, url: orders_path, method: :post) do |f| %>
				<h4><strong>お支払い方法</strong></h4>
					<% if @order.pay == 0 %>
						<p class="choice_btn"><%= @pay_method = "クレジットカード" %></p>
					<% else %>
						<p class="choice_btn"><%= @pay_method = "銀行振込" %></p>
					<%end%>
				<h4><strong>お届け先</strong></h4>
					<div class="choice_btn">
						<%= f.hidden_field :postal_code, :value => @new.postal_code %>
						<%= @new.postal_code %>
						<%= f.hidden_field :prefecture_code, :value => @new.prefecture_code %>
						<%= @new.prefecture_code %>
						<%= f.hidden_field :city, :value => @new.city %>
						<%= @new.city %>
						<%= f.hidden_field :street, :value => @new.street %>
						<%= @new.street %>
						<!-- 下記3行は定義コード viewには表示されない -->
						<%= f.hidden_field :pay, :value => @pay_method %>
		                <%= f.hidden_field :address, :value => params[:order][:address] %>
		                <%= f.hidden_field :total_price, :value => @total_price %>
					</div>
					<div class="choice_btn">
						<%= f.hidden_field :name, :value => @new.name %>
						<%= @new.name %>
					</div>
				<%= f.submit "購入を確定する", class: "order_next_btn cart_btn btn-sm btn-success"  %>
			<% end %>
		</div>
		<div class="col-xs-3">
			<table class="order_total_price_table"border=1 width="200">
				<tr>
					<th class="total_proce_th">送料</th>
					<td class="total_proce_td"><%= @order.postage %></td>
				</tr>
				<tr>
					<th class="total_proce_th">商品合計</th>
					<td class="total_proce_td"><%= current_member.cart_total_price %></td>
				</tr>
				<tr>
					<th class="total_proce_th">請求金額</th>
					<td class="total_proce_td"><%= @order.postage + current_member.cart_total_price %></td>
				</tr>
			</table>
		</div>
	</div>
</div>