<div class="container">

	<h1>注文情報入力</h1>

	<h3>お支払い方法</h3>
	<%= form_with(model: @order, url: order_confirm_path, method: :post,local: true) do |form| %>
		<%= form.radio_button :pay, 0 %>
		<%= form.label :pay, :クレジットカード %>
		<br>
		<%= form.radio_button :pay, 1 %>
		<%= form.label :pay, :銀行振込 %>

	<h3>お届け先</h3>
	<!-- ご自身の住所 -->
	<%= form.radio_button :address, 0 %>
	<p><%= label_tag "ご自身の住所" %></p>
		<p><%= current_member.postal_code %></p>
		<p><%= current_member.name %></p>
	<!-- 登録済住所から選択 -->
	<%= form.radio_button :address, 1 %>
	<p><%= label_tag "登録済住所から選択" %></p>
	<%= form.select :destination, create_selection_method(current_member.destinations) %>
	<!-- 新しいお届け先 -->
	<%= form.radio_button :address, 2 %>
	<p><%= label_tag "新しいお届け先" %></p>
		<p>郵便番号(ハイフンなし)
			<%= form.text_field :new_postal_code %></p>
		<p>住所</p>
		    <%= form.text_field :new_prefecture_code %>
		    <%= form.text_field :new_city %>
		    <%= form.text_field :new_street %>
		<p>宛名
			<%= form.text_field :new_name %></p>
	<%= form.submit "確認画面へ進む" %>
	<% end %>
</div>