<div class="container">

	<h1>注文情報入力</h1>

	<h3>お支払い方法</h3>
	<%= form_with(model: @order, url: order_confirm_path, method: :post,local: true) do |form| %>
		<%= form.radio_button :pay, 0 %>
		<%= form.label :pay, :クレジットカード %>
		<br>
		<%= form.radio_button :pay, 1 %>
		<%= form.label :pay, :銀行振込 %>

	<h3>お届け先</h3>
	<!-- ご自身の住所 -->
	<%= form.radio_button :address, 0 %>
		<p><%= label_tag "ご自身の住所" %></p>
		<p><%= current_member.postal_code %></p>
		<p><%= current_member.last_name %><%= current_member.first_name %></p>
	<!-- 登録済住所から選択 -->
	<%= form.radio_button :address, 1 %>
		<p><%= label_tag "登録済住所から選択" %></p>
		<%= form.select :destination, create_selection_method(current_member.destinations) %>
	<!-- 新しいお届け先 -->
	<%= form.radio_button :address, 2 %>
		<p><%= label_tag "新しいお届け先" %></p>
			<div class="field">
                <%= form.label :郵便番号 %><br />
                <%= form.text_field :postal_code, placeholder: "(例)1234567" %>
            </div>

		    <div class="field">
                <%= form.label :都道府県 %><br />
                <%= form.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %>
            </div>

            <div class="field">
                <%= form.label :市区町村 %><br />
                <%= form.text_field :city, placeholder: "(例)〇〇市〇〇町" %>
            </div>

            <div class="field">
                <%= form.label :番号・番地・建物名 %><br />
                <%= form.text_field :street, placeholder: "(例)〇-〇-〇" %>
            </div>

		　　<p>宛名</p>
			<%= form.text_field :new_name %></p>
	<%= form.submit "確認画面へ進む" %>
	<% end %>
</div>