<p class="flash_message"><%= flash[:notice] %></p>

<div class="container">
	<%= form_for (@destination) do |f| %>

	<span class="page_header">配送先登録 / 一覧</span>
	<table width="800">
		<tr>
			<td class="owner_member_td">郵便番号(ハイフンなし)</td>
			<td class="owner_member_td"><%= f.text_field :postal_code, :placeholder => "(例)1234567" %></td>
		</tr>
		<tr>
			<td class="owner_member_td">住所</td>
			<td class="owner_member_td"><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %>
			<td class="owner_member_td"><%= f.text_field :city, :placeholder => "(例)◯◯市" %></td>
			<td class="owner_member_td"><%= f.text_field :street, :placeholder => "(例)◯◯番地" %></td>
		</tr>
		<tr>
			<td class="owner_member_td">宛名</td>
			<td class="owner_member_td"><%= f.text_field :name, :placeholder => "(例)山田太郎" %></td>
			<td></td>
			<td><%= f.submit "登録する", class: "btn-sm btn-success" %></td>
		</tr>
	</table>
	<% end %>

	<table class="member_distination_table" width="800" border=1>
		<thead>
			<tr>
				<th class="member_distination_th">郵便番号</th>
				<th class="member_distination_th">住所</th>
				<th class="member_distination_th">宛名</th>
				<th class="member_distination_th"></th>
			</tr>
		</thead>
		<tbody>
			<% @destinations.each do |destination| %>
				<tr>
					<td><%= destination.postal_code %></td>
					<td><%= destination.prefecture_code %><%= destination.city %><%= destination.street %></td>
					<td><%= destination.name %></td>
					<td class="destination_edit_delete_btn">
						<%= link_to "編集する", edit_destination_path(destination), class: "btn-sm btn-success" %>
						<%= link_to "削除する", destination_path(destination), method: :delete, class: "btn-sm destination_delete", "data-confirm" => "本当に削除しますか？" %>
					</td>
				</tr>
			<% end %>
			<tr>
				<td><%= current_member.postal_code %></td>
				<td><%= current_member.prefecture_code %><%= current_member.city %><%= current_member.street %></td>
				<td><%= current_member.last_name + current_member.first_name %></td>
			</tr>
		</tbody>
	</table>
</div>