<div class="container">
	<h1><%= @member.name %>さんの会員情報編集</h1>

	<%= form_for(@member) do |f| %> <!-- 各tbタグの1行目は普通にpタグでいいかも -->
		<table>
			<tr>
				<td><%= f.label :id, "会員ID" %></td>
				<td><%= @member.id %></td>
			</tr>
			<tr>
				<td>氏名</td> <!-- 要確認 -->
				<td><%= f.text_field :last_name %>　<%= f.text_field :first_name %></td>
			</tr>
			<tr>
				<td>フリガナ</td> <!-- 要確認 -->
				<td><%= f.text_field :last_name_kana %>　<%= f.text_field :first_name_kana %></td>
			</tr>
			<tr>
				<td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
				<td><%= f.text_field :postal_code %></td>
			</tr>
			<tr>
				<td><%= f.label :address, "住所" %></td>
				<td><%= f.text_field :address %></td>
			</tr>
			<tr>
				<td><%= f.label :phone_number, "電話番号(ハイフンなし)" %></td>
				<td><%= f.text_field :phone_number %></td>
			</tr>
			<tr>
				<td><%= f.label :email, "メールアドレス" %></td>
				<td><%= f.email_field :email %></td>
			</tr>
			<tr>
				<td><%= f.label :member_status, "会員ステータス" %></td>
				<td>
					<%= f.radio_button :member_status, 0 %><%= f.label :member_status, :有効 %>
					<%= f.radio_button :member_status, 1 %><%= f.label :member_status, :退会済み %>
				</td>
			</tr>
			<tr>
				<td><%= f.submit "変更を保存する", class: "btn owner_members_update" %></td>
				<td></td>
			</tr>
		</table>
	<% end %>
</div>