<div class="container">
	<h1>登録情報編集</h1>

	<%= form_for(@member, url: member_path, method: :patch) do |f| %>
		<table>
			<tr>
				<td>名前</td>
				<td>(姓)<%= f.text_field :last_name %>(名)<%= f.text_field :first_name %></td>
			</tr>
			<tr>
				<td>フリガナ</td>
				<td>(セイ)<%= f.text_field :last_name_kana %>(メイ)<%= f.text_field :first_name_kana %></td>
			</tr>
			<tr>
				<td>メールアドレス</td>
				<td><%= f.email_field :email %></td>
			</tr>
			<tr>
				<td>郵便番号(ハイフンなし)</td>
				<td><%= f.text_field :postal_code %></td>
			</tr>
			<tr>
				<td>県</td>
				<td><%= f.text_area :prefecture_code %></td>
			</tr>
			<tr>
				<td>市</td>
				<td><%= f.text_area :city %></td>
			</tr>
			<tr>
				<td>番地</td>
				<td><%= f.text_area :street %></td>
			</tr>
			<tr>
				<td>電話番号(ハイフンなし)</td>
				<td><%= f.text_field :phone_number %></td>
			</tr>
		</table>

		<%= f.submit "編集内容を保存する", class: "btn members_member_edit" %>
		<%= link_to "退会する", exit_members_path, class: "btn members_member_destroy" %>
	<% end %>
</div>