<div class="container">
	<span class="page_header">マイページ</span>　　<%= flash[:notice] %>

	<table>
		<tr>
			<th><h3 class="my_page_h3">登録情報</h3></th>
			<th><%= link_to "編集する", member_edit_path, class: "btn-sm btn-success" %></th>
			<th><%= link_to "パスワードを変更する" ,edit_member_registration_path, class: "btn-sm btn-success" %></th>
		</tr>
	</table>

	<table width="600" border=1 >
		<tbody>
			<tr>
				<td class="my_page_td">氏名</td>
				<td><%= @member.last_name %>　<%= @member.first_name %></td>
			</tr>
			<tr>
				<td class="my_page_td">カナ</td>
				<td><%= @member.last_name_kana %>　<%= @member.first_name_kana %></td>
			</tr>
			<tr>
				<td class="my_page_td">郵便番号</td>
				<td><%= @member.postal_code %></td>
			</tr>
			<tr>
				<td class="my_page_td">住所</td>
				<% full_address = "#{@member.prefecture_code}#{@member.city}#{@member.street}" %>
				<td><%= full_address %></td>
			</tr>
			<tr>
				<td class="my_page_td">電話番号</td>
				<td><%= @member.phone_number %></td>
			</tr>
			<tr>
				<td class="my_page_td">メールアドレス</td>
				<td><%= @member.email %></td>
			</tr>
		</tbody>
	</table>
	<table width="250">
		<tbody>
			<tr>
				<td><h3 class="my_page_h3">配送先</h3></td>
				<td><%= link_to "一覧を見る",destinations_path(@member), class: "btn-sm btn-success" %></td>
			</tr>
			<tr>
				<td><h3 class="my_page_h3">注文履歴</h3></td>
				<td><%= link_to "一覧を見る",orders_path(@member), class: "btn-sm btn-success" %></td>
			</tr>
		</tbody>
	</table>
</div>