<h1>マイページ</h1>
<%= flash[:notice] %>
<h4>登録情報</h4>
<%= link_to "編集する",edit_members_path(@member) %>
<%= link_to "パスワードを変更する",edit_member_password_path(@member) %>

<table class="table">
	<tbody>
		<tr>
			<td><%= @member.name %></td>
			<td><%= @member.name_kana %></td>
			<td><%= @member.postal_code %></td>
			<td><%= @member.address %></td>
			<td><%= @member.phone_number %></td>
			<td><%= @member.email %></td>
		</tr>
	</tbody>
</table>

<%= link_to "配送先",destinations_path(@member) %>
<%= link_to "注文履歴",orders_path(@member) %>