<div class="container">

    <span class="page_header">ジャンル編集</span>
    <p class="flash_message"><%= flash[:notice] %></p>

    <%= form_with(model: @genre, local: true, url: owner_genre_path(@genre), method: :patch) do |form| %>
        <div class="genre_new_area">
            <div class="genre_new_list"><%= form.label :ジャンル %></div>
            <div class="genre_new_list"><%= form.text_field :name %></div>
            <div class="genre_new_list"><%= form.radio_button :effective_status, true %></div>
            <div class="genre_new_list"><%= form.label :effective_status, :有効 %></div>
            <div class="genre_new_list"><%= form.radio_button :effective_status, false %></div>
            <div class="genre_new_list"><%= form.label :effective_status, :無効 %></div>
            <%= form.submit '変更を保存する', class: 'btn genre_update' %>
        </div>
    <% end %>
</div>