<!DOCTYPE html>
<html>
    <head>
    <title>NaganoCake</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <nav class='nav navbar-nav navbar-left' >
                    <span class="header_logo"><%= link_to "Nagano-Cake", root_path(current_member) %></span>
                </nav>
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <% if member_signed_in? %>
                            <% name = "#{current_member.last_name}#{current_member.first_name}" %>
                            <li>ようこそ、<%= name %>さん！</li>
                            <li><%= link_to 'マイページ', members_path(current_member.id) %></li>
                            <li><%= link_to '商品一覧', products_path %></li>
                            <li><%= link_to 'カート', carts_path %></li>
                            <li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete %></li>
                        <% else %>
                            <li><%= link_to '商品一覧', products_path %></li>
                            <li><%= link_to '新規登録', new_member_registration_path %></li>
                            <li><%= link_to 'ログイン', new_member_session_path %></li>
                        <% end %>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <%= yield %>
        </main>

    </body>
</html>
